services:
  osmnames:
    image: klokantech/osmnames-sphinxsearch
    container_name: osmnames
  flask:
    image: tiangolo/uwsgi-nginx-flask:python3.8
    container_name: flask
    volumes:
      - ./server/:/app
      - ./notebooks/:/app/notebooks
      - ./datasets.py:/app/datasets.py
  serve:
    image: ghcr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Helsinki
      - URL=gispocoding.fi
      - SUBDOMAINS=geoviz,
      - VALIDATION=dns
      - DNSPLUGIN=route53
    volumes:
      - ./server/swag/:/config
    ports:
      - 443:443
      - 80:80
    depends_on:
      - flask
      - osmnames
    restart: always
  postgis:
    image: postgis/postgis
    container_name: postgis
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
    expose:
      - 5432
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_PASSWORD=postgres
  notebook:
    image: gispo/geoviz-notebook
    container_name: notebook
    volumes:
      - .:/home/jovyan
    ports:
      - 8888:8888
    depends_on:
      - postgis
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    environment:
      - PGHOST=postgis
