# Our own requirements
flickrapi
geoalchemy2
h3
jupyterlab
pandas
psycopg2-binary
python-dotenv

# Our GIS tools
git+https://github.com/GispoCoding/ipygis.git

# GISPO style
git+https://github.com/GispoCoding/jupyter-themes.git