<div class="analysis-list">
    {% from 'modal.html' import modal %}
    {% for analysis in analyses %}
        <div class="row analysis">
            <hr>
            <div class="col s9">
                <div class="col s7">
                    {{ analysis.name }}
                </div>
                <div class="col s2">
                    {% if not analysis.finish_time %}
                        <div class="progress right">
                            <div class="indeterminate"></div>
                        </div>
                    {% else %}
                        Finished
                    {% endif %}
                </div>
                {% if analysis.finish_time %}
                    <div class="col s5 left-align">
                        Started at {{ analysis.start_time }}
                    </div>
                    <div class="col s4 right-align">
                        Finished at {{ analysis.finish_time }}
                    </div>
                {% else %}
                    <div class="col s7">
                        Started at {{ analysis.start_time }}
                    </div>
                    <div class="col s2 right-align">
                        Running...
                    </div>
                {% endif %}
            </div>
            <div class="col s3">
                <a href="{{ url_for('log_for_city', slug=analysis.slug) }}">
                    <button class="waves-effect waves-light btn left">
                        View log
                    </button>
                </a>
                {% if not analysis.finish_time %}
                    <button id="delete_{{analysis.slug}}" class="cancel-button waves-effect waves-light btn right">
                        <div id="delete_{{analysis.slug}}_text">
                            <i class="material-icons left">cancel</i>Cancel
                        </div>
                        <div id="delete_{{analysis.slug}}_spinner" class="cancel-button-spinner preloader-wrapper small" style="top:-36px;">
                            <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                            </div>
                        </div>
                    </button>
                    {{ modal(
                        ['cancel', analysis.slug]|join('_'),
                        'Cancel analysis?',
                        'Are you sure you want to cancel this analysis? All data and results will be deleted.'
                    ) }}
                {% else %}
                <a href="{{ url_for('map_for_city', slug=analysis.slug) }}">
                    <button class="waves-effect waves-light btn right">
                            <i class="material-icons left">map</i>View results   
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% from 'modal.html' import modal %}
</div>
