<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://osmnames.org/api/v1/autocomplete.css"
        integrity="sha512-4rpsjUFRs+TNLc5vahQo9vncwsPMZBdQNJRoPx55eR51Ps+Y4H2MN7QOSJ8ZgeFDOijKrVOWxjuDhwxUJGWO8g=="
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
        crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet-editable@1.2.0/src/Leaflet.Editable.js"
        integrity="sha512-LuNkAmsIrvOjQZ4ovZJz4IubNCqq4M0FwP60oiM+yp3xIjFsHj4tXSAABSSPktw+3lFOzHdmrocXGgRJsRJlXQ=="
        crossorigin="anonymous"></script>
    <script src="https://osmnames.org/api/v1/autocomplete.js"
        integrity="sha512-Efo+mgfDR/XwtvnQVOW5VcUg4DQJYKisYAckJAAB87MhID94IisrLf8XBW89+lUCXqgkX5bQMwDzieNIAq6UqQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    {% include 'navigation.html' %}
    {% block content %}{% endblock %}
  </body>

  <script src="{{ url_for('home') }}static/env.js"></script>
  <script src="{{ url_for('home') }}static/map.js"></script>
  <script src="{{ url_for('home') }}static/gtfs_url.js"></script>
  <script src="{{ url_for('home') }}static/autocomplete.js"></script>
  <script src="{{ url_for('home') }}static/submit.js"></script>
  <script src="{{ url_for('home') }}static/delete.js"></script>

</html>