{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h4>{{title}}</h1>
        {% if running %}
            <p>Import and analysis is running at the moment. You may run multiple imports at the same time, but it may slow down the processing.</p>
            <p>This page does not update automatically, please reload the page to see if processes have finished.</p>
        {% endif %}
        {% if analyses %}
            {% include 'analyses.html' %}
        {% endif %}
        <hr>
        <p>{{description}}</p>
        <div class="form-wrapper">
      
            <form id="import_form" method="POST" action="{{ url_for('home') }}">
                {{ form.csrf_token }}
                {% if form.errors.items() %}
                <div class="card-panel red lighten-2">
                    <span class="white-text">Some inputs were missing. Please correct the errors below.</span>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col m12 l5">
                        <fieldset id="dataset_selection_form" class="form-field">
                            {{ form.dataset_selection.label }}
                            {{ form.dataset_selection }}
                            {% for error in form.dataset_selection.errors %}
                                <div id="dataset_selection_form_error_box" class="card-panel red lighten-2">
                                    <span class="white-text">{{ error }}</span>
                                </div>
                            {% endfor %}
                        </fieldset>
            
                        <fieldset id="flickr_form" class="form-field">
                            {{ form.flickr_apikey.label }}
                            {{ form.flickr_apikey }}
                            {{ form.flickr_secret.label }}
                            {{ form.flickr_secret }}
                            {% for error in form.flickr_apikey.errors %}
                            <div id="flickr_key_error_error_box" class="card-panel red lighten-2">
                                <span class="white-text">{{ error }}</span>
                            </div>
                            {% endfor %}
                            {% for error in form.flickr_secret.errors %}
                            <div id="flickr_secret_error_error_box"  class="card-panel red lighten-2">
                                <span class="white-text">{{ error }}</span>
                            </div>
                            {% endfor %}
                        </fieldset>
                        
                        <!-- <fieldset class="form-field">
                            {{ form.mapbox_apikey.label }}
                            {{ form.mapbox_apikey }}
                        </fieldset> -->
                    </div>
                    <div class="col m12 l7">
                        <fieldset id="city_selection_form" class="form-field">
                            {{ form.bbox.csrf_token }}
                            {{ form.bbox.map }}
                            {{ form.bbox.city.label }}
                            {{ form.bbox.city(autocomplete="off") }}
                            {% for error in form.bbox.city.errors %}
                                <div id="city_selection_form_error_box" class="card-panel red lighten-2">
                                    <span class="white-text">{{ error }}</span>
                                </div>
                            {% endfor %}
                            {{ form.bbox.bbox.label }}
                            {{ form.bbox.bbox(readonly=true) }}
                        </fieldset>
                        <fieldset id="gtfs_url_form" class="form-field">
                            {{ form.gtfs_url.label }}
                            {{ form.gtfs_url }}
                            {% for error in form.gtfs_url.errors %}
                                <div id="gtfs_url_form_error_box" class="card-panel red lighten-2">
                                    <span class="white-text">{{ error }}</span>
                                </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>
                <button id="import_button" type="submit" title="{{ form.import_button.label.text }}" class="waves-effect waves-light btn right">
                    <div id="import_button_text">{{ form.import_button.label.text }}</div>
                    <div id="import_button_spinner" class="preloader-wrapper small" style="top:-36px;">
                        <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>
                    </div>
                </button>
                    <!-- {{ form.import_button(class="waves-effect waves-light btn right")}} -->
            </form>
          </div>
    </div>
    {% from 'modal.html' import modal %}
    {{ modal(
        'submit',
        'Overwrite existing analysis?',
        'An analysis for the city exists already. Are you sure you want to delete it and create a new analysis?'
    ) }}
{% endblock %}