<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <link rel="stylesheet" href="https://osmnames.org/api/v1/autocomplete.css"
        integrity="sha512-4rpsjUFRs+TNLc5vahQo9vncwsPMZBdQNJRoPx55eR51Ps+Y4H2MN7QOSJ8ZgeFDOijKrVOWxjuDhwxUJGWO8g=="
        crossorigin="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-editable@1.2.0/src/Leaflet.Editable.js"
        crossorigin="anonymous"></script>
    <script src="https://osmnames.org/api/v1/autocomplete.js"
        integrity="sha512-Efo+mgfDR/XwtvnQVOW5VcUg4DQJYKisYAckJAAB87MhID94IisrLf8XBW89+lUCXqgkX5bQMwDzieNIAq6UqQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
    {% include 'navigation.html' %}
    {% block content %}{% endblock %}
  </body>

  <script src="static/env.js"></script>
  <script src="static/map.js"></script>
  <script src="static/autocomplete.js"></script>

</html>