<header>
    <div class="navbar-fixed">
        <nav class="nav-wrapper">
            <ul class="left">
                <li class="{{'active' if request.path == '/'}}"><a href="/">Gispo Urban Analytics</a></li>
                <li class="{{'active' if request.path == '/maps/'}}"><a href="/maps"><i class="material-icons left">map</i>Result maps</a></li>
            </ul>
            <ul class="right">
                <li class="{{'active' if request.path == '/instructions/'}}"><a href="/instructions"><i class="material-icons left">info</i>Instructions</a></li>
                <li class="{{'active' if request.path == '/logout/'}}"><a href="/logout"><i class="material-icons left">logout</i>Log out</a></li>
            </ul>
        </nav>
    </div>
 </header>