# Modified from https://github.com/jupyter/docker-stacks/blob/master/.github/workflows/docker.yml
# Copyrighted by Jupyter Development Team.
# Distributed under the terms of the Modified BSD License
# (https://github.com/jupyter/docker-stacks/blob/master/LICENSE.md).

name: Build Docker Images

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build-images:
    name: Build Docker Images
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: >
      !contains(github.event.head_commit.message, 'ci skip') &&
      !contains(github.event.pull_request.title, 'ci skip')
    steps:
      - name: Clone Main Repo
        uses: actions/checkout@v2
        with:
          path: main
      # - name: Set Up Python
      #   uses: actions/setup-python@v2
      #   with:
      #     python-version: 3.x
      # - name: Install Dev Dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     make -C main dev-env
      # - name: Build Docker Images
      #   run: make -C main build-test-all
      #   env:
      #     # Full logs for CI build
      #     BUILDKIT_PROGRESS: plain
      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v1
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Build and Push Notebook
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          target: geoviz-notebook
          tags: gispo/geoviz-notebook:latest
      - name: Build and Push Server
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          target: geoviz-server
          tags: gispo/geoviz-server:latest
      
      # - name: Push Images to DockerHub
      #   if: github.ref == 'refs/heads/main'
      #   run: make -C main push-all
